# General
*.pyc
*.log
*.pdf
Backup_of*
*.sqlite3

# Static

# Project
var/
robots.txt

### PyCharm ###
**/.idea/workspace.xml
**/.idea/tasks.xml
.idea/*
# Shell debug
shell_history.py

# media data
/data/*

# pdf data
sheet_generator/pdf/*
sheet_generator/raw_predictions/*
sheet_generator/__pycache__/*
sheet_generator/migrations/__pycache__/*

# model
*.joblib

# lilypond
lilypond/*

# ffmpeg
ffmpeg/*

# venv
venv*/*

# test code
test_code_*.py